body {
    font-family: sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #f4f4f9;
}
#mediaContainer img,
#mediaContainer video {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#mediacontainer {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 8px;
}

#mediainput{
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box
}
